@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  background-color: #0339a6;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
